<div class="container app-container">
  <!-------- NAVIGATION MENU --------->
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="btn btn-link" href="#">Home <span class="sr-only">(current)</span></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" (click)="switchIsRareEnabled()">Rare</button>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input #searchData class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch(searchData.value);" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-------- PANELS --------->

  <section #verbsList id="verbs-list">

  <div class="container-fluid ">
    <div id="accordion" role="tablist" aria-multiselectable="true">
    <!--<div class="panel-group my-panel" id="accordion" role="tablist" aria-multiselectable="true">-->
      <app-verb-panel #verbPanel *ngFor="let verb of verbs" [verb]="verb" [isRareEnabled]="isRareEnabled"
                      [language]="language"
                      (onRequestedVerbFound)="onRequestFound($event)"
                      (onRequestedVerbOpened)="moveList($event)"
                      (click)="onSearch(verb.form1, true)">
      </app-verb-panel>
    </div>
  </div>
  </section>

  <section id="quiz">

  </section>

  <!-------- FOOTER --------->
  <footer class="text-center">
    <p>&copy; Serhii Chmil 2017 <span><a href="mailto:sergeythmil@gmail.com">sergeytchmil@gmail.com </a></span>
    <span><a href="skype:sergey.tchmil?chat"><img src="../img/skype_icon.svg"></a> </span></p>
  </footer>
</div>
